<section class="todoapp">
  <header>
    <h1>TODOS</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" />
  </header>
  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <input class="toggle" type="checkbox" />
          <label>label</label>
          <button class="destroy" type="button">Add todo</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"></span>
  </footer>
</section>
